
.green_background {
    background-color: #009688;
    height: 118px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.grey_background {
    background-color: #DADBD4;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}

img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.head {
    display: flex;
    background-color: #EAEAEA;
    ;
}

.window_container {
    width: 90%;
}

p.user_name {
    margin-bottom: 0;
}

.head i {
    color: #B1B1B1;
    margin: 0 0.75rem 0 0.75rem;
}