<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body class="debug">


    <!-- background colors -->

    <div class="green_background"></div>
    <div class="grey_background"></div>

    <!-- /background colors -->


    <!-- main window -->

    <div class="window_container ml-auto mr-auto my-3 d-flex" id="root">

        <!-- window left -->

        <div class="window_left col-4 p-0">
            <div class="head d-flex p-3">
                <div class="me d-flex col-6 align-items-center">
                    <img class = "avatar" src="../img/avatar_io.jpg" alt="">
                    <p class="mx-2 user_name font-weight-bold">Nome Utente</p>
                </div>
                <div class="d-flex col-6 align-items-center justify-content-end">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="desktop_notification lightblue_bg d-flex align-items-center px-5 py-3">
                <span class="bell_container mr-3">
                    <i class="fas fa-bell-slash"></i>
                </span>
                <div>
                    <p class="font-weight-bold">Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>


            <!-- barra di ricerca -->


            <div class="search_bar  p-2 align-items-center">
                <div class="d-flex align-items-center bg-white">
                    <i class="fas fa-search"></i><input class="py-2" type="text" placeholder="Cerca o inizia una nuova chat" v-model="contactsFilter">
                </div>
            </div>

            <!-- /barra di ricerca -->

            <div class="preview_container">
                <div v-for="(contact, index) in contacts" @click = "selectThis(index)">
                    <!-- SONO BLOCCATO DA UN'ORA PERCHÉ NON AGGIUNGEVO JPG ALLA FINE DEL PERCORSOOOOOOO -->
                    
                    <!-- aggiungo div per mettere v-if che non posso mettere insieme a v-for -->
                    <div class="friend py-3 px-3 d-flex position-relative" :class ="index == activeContact ? `active` : ``" v-if="contact.name.includes(contactsFilter)">
                        <img class="avatar" v-bind:src=" `../img/avatar` + contact.avatar + `.jpg`" alt="">
                        <div class="chat_preview py-2 px-3">
                            <p class="font-weight-bold">{{contact.name}}</p>
                            <p class="message_preview small_font">{{previewCharacters(contact.messages[lastOfArray(contact.messages)].text)}}...</p>
                        </div>
                        <div class="date small_font">
                            {{contact.messages[lastOfArray(contact.messages)].date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /window left -->

        <!-- window right -->

        <div class="window_right col-8 p-0 position-relative">
            <div class="head p-3">
                <div class="activeFriend d-flex col-6">
                        <img class="avatar" v-bind:src=" `../img/avatar` + contacts[activeContact].avatar + `.jpg`" alt="">
                        <div class="active_friend_info mx-3 col-8">
                            <p class="font-weight-bold">
                                {{contacts[activeContact].name}}
                            </p>
                            <p class="small_font pr-4">
                                Ultimo accesso oggi alle {{contacts[activeContact].messages[lastOfArray(contacts[activeContact].messages)].date}}
                            </p>
                        </div>
                </div>

                <div class="d-flex col-6 align-items-center justify-content-end">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- main chat -->
            
            <div class="main_chat px-4 bg_pattern d-flex flex-column py-3 px-5">
                <div class="message my-2 position-relative" :class="message.status == `received` ? `received` : `sent`" v-for="message in contacts[activeContact].messages">
                    <p>{{message.text}}</p>
                    <p class="chat_message_date">{{message.date}}</p>
                </div>
            </div>

            <!-- //main chat -->


            <!-- controller e input chat -->

            <div class="chat_controller d-flex justify-content-around align-items-center">
                <i class="far fa-smile"></i>
                <input class="my-2 px-3 col-10" type="text" name="chatMessage" id="chatMessage" placeholder="Scrivi un messaggio" v-model="writtenMessage" @keyup.enter="sendMessage(writtenMessage), autoAnswer()">
                <i class="fas fa-microphone"></i>
            </div>

             <!-- controller e input chat -->

        </div>

        <!-- /window right -->

    </div>

    <!-- /main window -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="./assets/js/main.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</body>
</html>